<?xml version="1.0" encoding="UTF-8" ?>
<configuration>

    <springProfile name="local">
        <include resource="logback-base.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>

            <appender-ref ref="debug_log"/>
            <appender-ref ref="info_log"/>
            <appender-ref ref="error_log"/>
        </root>

        <logger name="com.how.arybyungobserver" level="DEBUG">
            <appender-ref ref="application_log"/>
        </logger>

        <logger name="reqRes_log" level="INFO" additivity="false">
            <appender-ref ref="reqRes_log"/>
        </logger>

        <logger name="slow_query_log" level="INFO" additivity="false">
            <appender-ref ref="slow_query_log"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG">
            <appender-ref ref="query_log"/>
        </logger>
    </springProfile>

    <springProfile name="development">
        <include resource="logback-base.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>

            <appender-ref ref="debug_log"/>
            <appender-ref ref="info_log"/>
            <appender-ref ref="error_log"/>
<!--            <appender-ref ref="cloudWatch_info_log"/>-->
<!--            <appender-ref ref="cloudWatch_error_log"/>-->
        </root>

        <logger name="com.how.arybyungobserver" level="DEBUG">
            <appender-ref ref="application_log"/>
<!--            <appender-ref ref="cloudWatch_application_log"/>-->
        </logger>

        <logger name="reqRes_log" level="INFO" additivity="false">
            <appender-ref ref="reqRes_log"/>
<!--            <appender-ref ref="cloudWatch_reqRes_log"/>-->
        </logger>

        <logger name="test_log" level="INFO" additivity="false">
            <appender-ref ref="test_log"/>
        </logger>

        <logger name="slow_query_log" level="INFO" additivity="false">
            <appender-ref ref="slow_query_log"/>
        </logger>

        <logger name="org.hibernate.SQL" level="DEBUG">
            <appender-ref ref="query_log"/>
        </logger>
    </springProfile>


    <springProfile name="production">
        <include resource="logback-base.xml"/>
        <root level="DEBUG">
            <appender-ref ref="STDOUT"/>
            <appender-ref ref="info_log"/>
            <appender-ref ref="error_log"/>
<!--            <appender-ref ref="cloudWatch_info_log"/>-->
<!--            <appender-ref ref="cloudWatch_error_log"/>-->
        </root>

        <logger name="com.how.arybyungobserver" level="INFO">
            <appender-ref ref="application_log"/>
<!--            <appender-ref ref="cloudWatch_application_log"/>-->
        </logger>

        <logger name="reqRes_log" level="INFO" additivity="false">
            <appender-ref ref="reqRes_log"/>
<!--            <appender-ref ref="cloudWatch_reqRes_log"/>-->
        </logger>

        <logger name="slow_query_log" level="INFO" additivity="false">
            <appender-ref ref="slow_query_log"/>
        </logger>

        <!--<logger name="org.hibernate.SQL" level="DEBUG">-->
        <!--<appender-ref ref="query_log"/>-->
        <!--</logger>-->
    </springProfile>

</configuration>
